/* Universal Styles */
 @import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

html {
  font-size: 18px;
}
@media only screen and (max-width: 560px) {
  html {
    font-size: 15px;
  }
}
input:focus {
  outline: none;
}
.app {
  font-family: "Titillium Web", Arial, sans-serif;
}
h1 {
  padding: 0.66rem 0;
  text-align: center;
  background-color: #fa8518;
  font-size: 1.8rem;
  color: #fff;
}
