.searchbar {
  font-family: "Titillium Web", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-image: url("./pikachu.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 20rem;
}

.searchbar-field {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.types-outer-container {
  justify-content: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 10%;
  margin-bottom: 2rem;
}

.types-inner-container {
  display: flex;
  justify-content: space-between;
}

.types-inner-container div {
  border: 1px black solid;
  border-radius: 9%;
  padding: 2px 3px;
  margin: 2px;
}

.types-inner-container div:first-letter {
  text-transform: uppercase;
}

.types-inner-container div:hover {
  cursor: pointer;
}

.active {
  border: 3px solid black !important;
}

.searchbar-field input {
  width: 21rem;
  padding: 0.66rem 1rem;
  margin-right: 2.22rem;
  border: 1px solid #fff;
  border-radius: 4px;
  font-size: 0.77rem;
  font-weight: 500;
}

.searchbar-field input:last-child {
  margin-right: 0;
}

.searchbar-submit {
  text-align: center;
}

.searchbar-submit a {
  border-radius: 4px;
  padding: 0.72rem 1.7rem;
  background-color: #fa8518;
  color: #ffffff;
  font-weight: 600;
  transition: background-color 0.5s;
}

.searchbar-submit a:hover {
  cursor: pointer;
  background-color: #fca535;
}

@media only screen and (max-width: 425px) {
  .searchbar {
    justify-content: flex-start;
  }
  .searchbar-field input {
    width: 100%;
  }
  .types-outer-container {
    flex-direction: row;
  }
  .types-inner-container {
    flex-direction: column;
  }
}

#grass {
  background-color: rgb(155, 204, 80);
}

#poison {
  background-color: rgb(185, 127, 201);
}

#fire {
  background-color: rgb(253, 125, 36);
}

#flying {
  background: linear-gradient(180deg, #3dc7ef 55%, #bdb9b8 45%);
}

#water {
  background-color: rgb(69, 146, 196);
}

#bug {
  background-color: rgb(114, 159, 63);
}

#normal {
  background-color: rgb(164, 172, 175);
}

#electric {
  background-color: rgb(238, 213, 53);
}

#ground {
  background: linear-gradient(180deg, #f7de3f 55%, #ab9842 45%);
}

#fairy {
  background-color: rgb(253, 185, 233);
}

#fighting {
  background-color: rgb(213, 103, 35);
}

#psychic {
  background-color: rgb(243, 102, 185);
}

#rock {
  background-color: rgb(163, 140, 33);
}

#steel {
  background-color: rgb(158, 183, 184);
}

#ice {
  background-color: rgb(81, 196, 231);
}

#ghost {
  background-color: rgb(123, 98, 163);
}

#dragon {
  background: linear-gradient(
    180deg,
    rgb(83, 164, 207) 55%,
    rgb(241, 110, 87) 45%
  );
}

#dark {
  background-color: rgb(112, 112, 112);
}
